<h2>Добавление на заказ</h2>
<hr />

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="control-label col-sm-3 s-label" for="DoNotSendSmsAddToOrder">Не отправлять смс:</label>
        <div class="col-sm-9">
            @*<input type="email" class="form-control" id="UnitAddToOrder" placeholder="Enter email">*@
            <input id="DoNotSendSmsAddToOrder" type="checkbox"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3 s-label" for="UnitAddToOrder">Подразделение:</label>
        <div class="col-sm-9">
            @*<input type="email" class="form-control" id="UnitAddToOrder" placeholder="Enter email">*@
            <select id="UnitAddToOrder" class="s-form-control"
                    data-bind="options: $root.AddToOrderViewModel.Units, optionsText: 'Name', optionsValue: 'Id', event: { change: $root.AddToOrderViewModel.ChangeUnit }">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3 s-label" for="NetAddToOrder">Сеть:</label>
        <div class="col-sm-9">
            <select id="NetAddToOrder" class="s-form-control" 
                    data-bind="options: $root.AddToOrderViewModel.Networks, optionsText: 'Name', optionsValue: 'Id' , event: { change: $root.AddToOrderViewModel.ChangeNet}">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3 s-label" for="ClientAddToOrder">Клиент:</label>
        <div class="col-sm-9">
            <select id="ClientAddToOrder" class="s-form-control" data-bind="options: $root.AddToOrderViewModel.Clients, optionsText: 'Name', optionsValue: 'Id'">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3 s-label" for="WorkTypeAddToOrder">Тип работ:</label>
        <div class="col-sm-9">
            <select id="WorkTypeAddToOrder" class="form-control">
                <option value="-1">Все</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3 s-label" for="DepartmentAddToOrder">Отдел:</label>
        <div class="col-sm-9">
            <select id="DepartmentAddToOrder" class="form-control">
                <option value="-1">Все</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3 s-label">Дата начала с:</label>
        <div class="col-sm-9">
            @*<input id="StartDateAddToOrder" class="form-control"/>*@


            <div class="input-group date form_date s-date-time" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <input type="hidden" id="StartDateAddToOrder" value=""/>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3 s-label">Дата начала по:</label>
        <div class="col-sm-9">
            <div class="input-group date form_date s-date-time" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <input type="hidden" id="EndDateAddToOrder" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3 s-label" for="StartTimeAddToOrder">Время начала с:</label>
        <div class="col-sm-9">
            @*<input id="StartTimeAddToOrder" class="form-control" data-bind="localTimepicker: $root.AddToOrderViewModel.TimeStart"/>*@
            <div class="input-group date form_time s-date-time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                <input class="form-control" size="16" type="text" value="" data-bind="value: $root.AddToOrderViewModel.TimeStart">
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
            <input type="hidden" id="StartTimeAddToOrder" value="" data-bind="value: $root.AddToOrderViewModel.TimeStart"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3 s-label" for="EndTimeAddToOrder">Время начала по:</label>
        <div class="col-sm-9">
            @*<input id="EndTimeAddToOrder" class="form-control"  />*@
            <div class="input-group date form_time s-date-time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                <input class="form-control" size="16" type="text" value="" data-bind="value: $root.AddToOrderViewModel.TimeEnd">
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
            <input type="hidden" id="EndTimeAddToOrder" value="" data-bind="value: $root.AddToOrderViewModel.TimeEnd"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8">
            <textarea class="form-control s-text-area" placeholder="Введите текст сообщения ..." Rows="7"></textarea>
        </div>
        <div class="col-sm-4">
            <div class="container">
                <div class="row" style="height: 30px;">
                    <span style="font-weight: bold;">Переменные:</span>
                </div>
                <div class="row">
                    <div>
                        <button class="btn btn-default s-btn" type="button">Дата начала</button>
                        <button class="btn btn-default s-btn" type="button">Время начала</button>
                        <button class="btn btn-default s-btn" type="button">Дата окончания</button>
                        <button class="btn btn-default s-btn" type="button">Время окончания</button>
                        <button class="btn btn-default s-btn" type="button">Клиент</button>
                        <button class="btn btn-default s-btn" type="button">Тип работы</button>
                        <button class="btn btn-default s-btn" type="button">Отдел</button>
                        <button class="btn btn-default s-btn" type="button">Адрес</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2 s-label" for="TranslitAddToOrder">Выполнить транслитерацию:</label>
        <div class="col-sm-10">
            @*<input type="email" class="form-control" id="UnitAddToOrder" placeholder="Enter email">*@
            <input id="TranslitAddToOrder" type="checkbox"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-primary s-btn" type="button">Сохранить шаблон</button>
            <button class="btn btn-success s-btn" type="button">Предварительный просмотр</button>
            <button class="btn btn-info s-btn" type="button">Загрузить шаблон по умолчанию</button>
            <button class="btn btn-primary s-btn" type="button">Сохранить шаблон по умочанию</button>
        </div>
    </div>
</form>



