
@{
    ViewBag.Title = "Добавление на заказ";
}

@model SmsWebApplication.Models.AddToOrderViewModel
<script>
    var viewModel = @Newtonsoft.Json.JsonConvert.SerializeObject(Model)
</script>

<h2>AddToOrder</h2>

