@{
    ViewBag.Title = "Home Page";
}

@model SmsWebApplication.Models.ModelsList

<div class="jumbotron" id="main-page">
    <h1>SMS MODULE</h1>
</div>

<div class="s-menu-item-value" data-action="addToOrderContainer">
    @Html.Partial("AddToOrder")
</div>
