@{
    ViewBag.Title = "Home Page";
}

@model SmsWebApplication.Models.ModelsList


    <img src="@Url.Content("~/Content/images/city-street-night.png")" class="stub-img" />



<div class="s-menu-item-value" data-action="addToOrderContainer">
    @Html.Partial("AddToOrder")
</div>
